html, body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin-right: 30px;
    padding: 0;
    overflow: hidden;
}
li {
    float: right;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}

.editorial {
    margin: 50px;
    width: 100%;
}
.image {
    float: left;
    width: 50%;
}
.article {
    margin-left: 20px;
    float: left;
    width: 30%;
}